body {
    margin: 0;
}


.box {
    height: 200px;
    width: 350px;
    display: inline-block;
}

#red-box {
    background-color: red;
    /* float: left; */
}

#blue-box {
    background-color: blue;
}

.inner-box {
    height: 100px;
    width: 100px;
    background-color: black;
    margin-top: 50px;
    margin-left: 50px;
    display: inline-block;
}


