body {
    margin: 0;
}


.box {
    height: 300px;
    width: 500px;

}

.inner-box {
    height: 100px;
    width: 100px;
    background-color: black;
    margin: 50px;
    display: inline-block;
}

#right-box {
    margin-left: 0;
}

