body {
    margin: 0;
}


.box {
    height: 300px;
    width: 500px;
}

.stripes {
    height: 33%;
    width: 100%;

}

#top {
    background-color: black;
}

#middle {
    background-color: red;
}

#bottom {
    background-color: gold;
}
